services:
  whatsapp_go:
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

    build:
      context: .
      dockerfile: ./docker/golang.Dockerfile

    restart: unless-stopped

    # Let Coolify manage networking
    ports: []

    # Let Coolify manage env vars
    env_file: []
